h2 {
  display: inline-block;
  margin-left: 20px;
}
.question-describe {
  width: 70%;
  padding: 20px;
  margin: 20px auto;

  border: 3px solid #b1cdfc;
  border-radius: 10px;
}

.verify-area {
  width: 70%;
  padding: 20px;
  margin: 20px auto;
}